/**
Blob Hovers
**/
/**
Found Script
-- I Neeed to add more options to this
**/
/* line 5, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .intro {
  margin-bottom: 80px; }
  @media only screen and (min-width: 1024px) {
    /* line 9, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .intro .columns.headline {
      padding-right: 30px; } }
  @media only screen and (min-width: 640px) {
    /* line 15, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .intro .columns.description {
      padding-top: 15px; } }
  /* line 23, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .intro p {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    max-width: 590px;
    margin-left: auto; }
    @media only screen and (max-width: 1024px) {
      /* line 23, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
      .fm_tenant_archive .intro p {
        margin-left: 0; } }

/* line 34, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .tenant_archive_posts {
  background-color: #F2EDEB;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media only screen and (max-width: 1024px) {
    /* line 34, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .tenant_archive_posts {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media only screen and (max-width: 640px) {
    /* line 34, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .tenant_archive_posts {
      padding-top: 40px;
      padding-bottom: 40px; } }
  /* line 38, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .tenant_archive_posts.has-filters {
    padding-top: 120px;
    margin-top: -110px; }

/* line 44, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .filters_wrap {
  background: #ffffff;
  border: 1px solid #a0928c;
  border-radius: 4px;
  padding: 30px 30px 0 30px; }

/* line 53, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .alm-results-text {
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 21px;
  font-family: "Jokker", sans-serif;
  margin-bottom: 30px;
  margin-top: 40px; }
  /* line 154, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.white {
    color: #ffffff; }
  /* line 158, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.greige {
    color: #81746E; }
  /* line 162, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.burnt_umber {
    color: #ba5d00; }
  /* line 166, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.tan {
    color: #F2EDEB; }
  /* line 170, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.cotton_candy {
    color: #F0AE84; }
  /* line 174, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.mint {
    color: #C4DBCB; }
  /* line 178, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.marigold {
    color: #9b5b00; }
  /* line 182, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.red {
    color: #DF2F30; }
  /* line 186, ../scss/_mixins.scss */
  .fm_tenant_archive .alm-results-text.teal {
    color: #0B856F; }

/* line 59, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .alm-filters-container {
  max-width: none;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  display: flex;
  flex-flow: row wrap; }
  /* line 67, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .alm-filters-container .alm-filter--title h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    display: block;
    font-family: "Jokker", sans-serif;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; }
    /* line 154, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.white {
      color: #ffffff; }
    /* line 158, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.greige {
      color: #81746E; }
    /* line 162, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.burnt_umber {
      color: #ba5d00; }
    /* line 166, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.tan {
      color: #F2EDEB; }
    /* line 170, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.cotton_candy {
      color: #F0AE84; }
    /* line 174, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.mint {
      color: #C4DBCB; }
    /* line 178, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.marigold {
      color: #9b5b00; }
    /* line 182, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.red {
      color: #DF2F30; }
    /* line 186, ../scss/_mixins.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.teal {
      color: #0B856F; }
    @media only screen and (max-width: 640px) {
      /* line 67, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
      .fm_tenant_archive .alm-filters-container .alm-filter--title h3 {
        font-size: 18px;
        line-height: 22px; } }
  /* line 72, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .alm-filters-container .alm-filters--controls {
    padding-left: 15px;
    padding-top: 10px; }
    @media only screen and (max-width: 640px) {
      /* line 72, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
      .fm_tenant_archive .alm-filters-container .alm-filters--controls {
        padding-left: 10px;
        padding-top: 0; } }
  /* line 83, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .alm-filters-container .alm-filter ul {
    columns: 2;
    column-gap: 30px; }
    /* line 87, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter ul li {
      margin: 0 0 12px;
      break-inside: avoid-column; }
      /* line 91, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
      .fm_tenant_archive .alm-filters-container .alm-filter ul li div.alm-filter--link {
        color: #000000;
        line-height: 21px;
        font-size: 13px; }
        /* line 97, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
        .fm_tenant_archive .alm-filters-container .alm-filter ul li div.alm-filter--link.active:before {
          border-color: #000000;
          background-color: #000000; }
  @media only screen and (min-width: 1024px) {
    /* line 107, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter.atmosphere-filters ul {
      columns: 3; } }

/* line 119, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .alm-layouts .alm-listing {
  margin: 0 auto !important; }

/* line 123, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .tenant_archive {
  margin: 0 auto;
  max-width: 75rem; }

/* line 128, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .alm-load-more-btn {
  display: none !important; }

/* line 133, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
.fm_tenant_archive .filter-title {
  display: none; }

@media only screen and (max-width: 640px) {
  /* line 141, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .filter-title {
    display: block; }
  /* line 146, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .alm-filters-container .alm-filter--title h3 {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 14px 55px 15px 24px;
    display: block;
    position: relative; }
    /* line 153, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3:hover {
      cursor: pointer; }
    /* line 157, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3:after {
      content: '';
      display: inline-block;
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      width: 10px;
      height: 10px;
      transform: rotate(-315deg);
      position: absolute;
      right: 32px;
      top: 18px; }
    /* line 170, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--title h3.open:after {
      transform: rotate(225deg); }
  /* line 176, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
  .fm_tenant_archive .alm-filters-container .alm-filter--inner {
    display: none; }
    /* line 179, ../../func_mods/tenant_archive/fm_tenant_archive.scss */
    .fm_tenant_archive .alm-filters-container .alm-filter--inner.visible {
      display: block; } }

/*# sourceMappingURL=fm_tenant_archive.css.map */