@import "sass-globals";

.news-tile-wrap,
.tastemaker-tile-wrap {
    margin-bottom: $small-spacing;
}

.news-tile,
.tastemaker-tile {
    position: relative;
    border: 1px solid $greige3;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    transition: 0.25s ease all;
    width: 100%;

    @include gt-md() {
        height: 100%;
    }

    &:hover,
    &:focus {
        background-color: $white;

        .fm_button {
            &:after {
                right: 8px;
            }

            &:before {
                width: 28px;
            }
        }
    }

    .image {
        position: relative;
        overflow: hidden;
        padding-top: 70%;
        width: 100%;
        background-color: $greige3;

        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 auto;
            object-fit: cover;
            object-position: center center;
            height: 100%;
            width: 100%;
        }
    }

    .inner {
        height: 100%;
        padding: $small-spacing;
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        align-self: normal;
        align-items: flex-start;
        margin-bottom: $small-spacing;
    }

    .content {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: $small-spacing;

        p {
            margin-bottom: $small-spacing;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        h2 {
            margin-bottom: 4px;
        }

        h5 {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 2px;
        }

        .type_label {
            margin-bottom: 5px;
            display: block;
            width: 100%;
        }
    }

    .hours {
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            list-style: none;
            margin-bottom: 5px;
            display: flex;
            flex-flow: row wrap;

            span {
                @include h6();
                display: inline;
                margin-bottom: 0;
                flex: 1 1 60%;

                &.time {
                    font-weight: 400;
                    flex: 1 1 40%;
                }
            }
        }
    }

    .fm_button {
        position: absolute;
        bottom: 10px;
    }
}
