@import "sass-globals";

.fm_content_repeater {
    .modal-section {
        p {
            >a {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .close-button {
            font-size: 40px;
        }
        .columns {
            img {
                margin-top: 30px;
            }
        }
    }
}
// .reveal {
//     display: none;
//     z-index: 1006;
//     padding: 1rem;
//     border: 1px solid #000;
//     background-color: #fff;
//     border-radius: 0;
//     position: relative;
//     top: 100px;
//     margin-left: auto;
//     margin-right: auto;
//     overflow-y: auto;
// }

.repeater-modal-box {
    display: none;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    @include lt-md {
        width: 85%;
    }
}

.reveal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Just below the modal z-index to ensure it appears beneath the modal */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}