/**
Blob Hovers
**/
/**
Found Script
-- I Neeed to add more options to this
**/
@media only screen and (max-width: 770px) {
  /* line 14, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .tribe-events .tribe-events-l-container {
    min-height: 0 !important;
    padding-bottom: 0;
  }
  /* line 19, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .tribe-events .tribe-events-c-events-bar,
  .post-type-archive-tribe_events .tribe-events .tribe-events-header {
    display: block;
  }
}

/* line 25, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-common h2 {
  font-weight: 600;
}

/* line 32, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tooltipster-base.tribe-events-tooltip-theme {
  border-color: #000000;
  border-radius: 4px;
  padding: 0;
  min-width: 300px;
}
/* line 38, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  > div {
  position: relative;
}
/* line 42, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .image {
  position: relative;
  overflow: hidden;
  padding-top: 70%;
  width: 100%;
}
/* line 48, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .image
  img {
  transition: 0.25s ease all;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
/* line 63, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner {
  padding: 15px;
}
/* line 66, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner
  .tribe-events-calendar-month__calendar-event-tooltip-datetime {
  font-family: "Jokker", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
/* line 75, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner
  .tribe-events-calendar-month__calendar-event-tooltip-title {
  font-family: "Jokker", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 5px;
}
/* line 82, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner
  .tribe-events-calendar-month__calendar-event-tooltip-title
  a {
  text-decoration: none;
}
/* line 87, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner
  p {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}
/* line 91, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme
  .inner
  .fm_button {
  margin-top: 15px;
}
/* line 98, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:hover
  img,
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:focus
  img {
  transform: scale(1.1);
}
/* line 104, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:hover
  .inner
  .tribe-events-calendar-month__calendar-event-tooltip-title
  a,
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:focus
  .inner
  .tribe-events-calendar-month__calendar-event-tooltip-title
  a {
  text-decoration: underline;
}
/* line 111, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:hover
  .fm_button:before,
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:focus
  .fm_button:before {
  background-color: #000000;
}
/* line 115, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:hover
  .fm_button:after,
.post-type-archive-tribe_events
  .tooltipster-base.tribe-events-tooltip-theme:focus
  .fm_button:after {
  right: 16px;
}

/* line 125, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_archive .tribe-common-h7,
.post-type-archive-tribe_events .event_archive .tribe-common-h8 {
  font-family: "Jokker", sans-serif;
  font-size: 14px;
  color: #000000;
}

@media only screen and (max-width: 640px) {
  /* line 135, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__nav-link:hover:before {
    display: none;
  }
  /* line 140, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__nav-link:after {
    top: 0 !important;
  }
}

@media only screen and (max-width: 400px) {
  /* line 146, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__nav-link:after {
    top: 3px !important;
  }
}

/* line 154, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__day {
  border-right: none;
}

@media only screen and (max-width: 640px) {
  /* line 161, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-calendar-month__day
    button.tribe-events-calendar-month__day-cell--selected
    h3
    time {
    color: #ffffff;
  }
  /* line 167, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-calendar-month__day
    h3
    time {
    font-size: 18px !important;
  }
}

/* line 174, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-calendar-month__week {
  border-left: none;
}

/* line 184, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_archive .tribe-events-c-top-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 190, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time {
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-family: "Jokker", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 60px;
  text-align: center;
  flex-grow: 1;
}
/* line 154, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.white {
  color: #ffffff;
}
/* line 158, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.greige {
  color: #81746e;
}
/* line 162, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.burnt_umber {
  color: #ba5d00;
}
/* line 166, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.tan {
  color: #f2edeb;
}
/* line 170, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.cotton_candy {
  color: #f0ae84;
}
/* line 174, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.mint {
  color: #c4dbcb;
}
/* line 178, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.marigold {
  color: #9b5b00;
}
/* line 182, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.red {
  color: #df2f30;
}
/* line 186, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__datepicker-time.teal {
  color: #0b856f;
}
@media only screen and (max-width: 1440px) {
  /* line 190, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__datepicker-time {
    font-size: 6.25vw;
    line-height: 6.666666667vw;
  }
}
@media only screen and (max-width: 640px) {
  /* line 190, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__datepicker-time {
    font-size: 42px;
    line-height: 42px;
  }
}
/* line 198, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link {
  position: relative;
  position: relative;
  font-family: "awesome_serif", sans-serif;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 21px;
}
/* line 207, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link
  .tribe-common-c-svgicon {
  display: none;
}
/* line 211, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link:before {
  content: "";
  width: 100%;
  bottom: -5px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  transition: 0.25s all;
}
@media only screen and (max-width: 1024px) {
  /* line 211, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-c-top-bar__nav-link:before {
    display: none;
  }
}
/* line 225, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link:after {
  content: "";
  background-image: url(../../../../_images/icon_button_arrow_black.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  width: 24px;
  height: 9px;
  background-size: contain;
  transition: 0.25s right;
}
/* line 237, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--next {
  padding-right: 45px;
}
/* line 240, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--next:before {
  left: 0;
}
/* line 244, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--next:after {
  right: 0;
}
/* line 249, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--prev {
  padding-left: 45px;
}
/* line 252, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--prev:before {
  left: 0;
}
/* line 256, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link--prev:after {
  transform: rotate(180deg);
  left: 0;
}
/* line 264, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link:hover:before,
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-c-top-bar__nav-link:focus:before {
  background-color: transparent;
}

/* line 276, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-row {
  background-color: #000000;
}

/* line 280, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column {
  padding: 15px;
}

/* line 284, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3 {
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
  font-family: "Jokker", sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}
/* line 154, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.white {
  color: #ffffff;
}
/* line 158, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.greige {
  color: #81746e;
}
/* line 162, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.burnt_umber {
  color: #ba5d00;
}
/* line 166, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.tan {
  color: #f2edeb;
}
/* line 170, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.cotton_candy {
  color: #f0ae84;
}
/* line 174, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.mint {
  color: #c4dbcb;
}
/* line 178, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.marigold {
  color: #9b5b00;
}
/* line 182, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.red {
  color: #df2f30;
}
/* line 186, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__header-column-title.tribe-common-b3.teal {
  color: #0b856f;
}
@media only screen and (max-width: 640px) {
  /* line 284, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .event_archive
    .tribe-events-calendar-month__header-column-title.tribe-common-b3 {
    font-size: 18px;
    line-height: 22px;
  }
}

/* line 294, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__calendar-event {
  margin-bottom: 10px;
}
/* line 298, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__calendar-event-datetime {
  display: inline-block;
  height: 21px;
  font-family: "Jokker", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
/* line 309, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__calendar-event-datetime
  span.tribe-events-calendar-series-archive__container {
  display: none;
}
/* line 314, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__calendar-event-datetime-featured-icon {
  display: none;
}
/* line 320, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__calendar-event-featured-image {
  display: none;
}

/* line 327, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event-wrapper {
  margin-bottom: 10px;
}

/* line 331, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event-bar {
  border-radius: 0 !important;
  background-color: #f2edeb;
}

/* line 336, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event-bar-inner {
  padding: 4px 12px 3px 12px;
  background-color: #f2edeb;
}
/* line 340, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event-bar-inner:hover,
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event-bar-inner:focus {
  background-color: #f2edeb;
}

/* line 347, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event--past
  .tribe-events-calendar-month__multiday-event-bar-inner {
  background-color: #f1f1f1;
}
/* line 350, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event--past
  .tribe-events-calendar-month__multiday-event-bar-inner:hover,
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__multiday-event--past
  .tribe-events-calendar-month__multiday-event-bar-inner:focus {
  background-color: #f1f1f1;
}

/* line 359, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day {
  border-color: #000000;
}
/* line 362, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day-date {
  font-family: "awesome_serif", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.86px;
  line-height: 24px;
}
/* line 369, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day-date
  time {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
  font-family: "awesome_serif", sans-serif a;
  font-family-font-size: 24px;
  font-family-font-weight: 500;
  font-family-letter-spacing: 2.86px;
  font-family-line-height: 24px;
}
/* line 383, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day--past-month {
  background-color: #f2edeb;
}
/* line 387, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day--next-month {
  background-color: #f2edeb;
}
/* line 391, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month__day--current {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000 !important;
}

/* line 400, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 99px;
  margin-right: 2px;
  background-color: #000000;
}
/* line 408, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot.fitness {
  background-color: #ba5d00;
}
/* line 412, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot.art-culture {
  background-color: #f64741;
}
/* line 416, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot.food-drink {
  background-color: #e07731;
}
/* line 420, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot.music {
  background-color: #29967f;
}
/* line 424, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .event_archive
  .tribe-events-calendar-month
  .dot.shopping-retail {
  background-color: #a86600;
}

/* line 445, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-top-bar__datepicker-container
  .dropdown-menu {
  min-width: 1px;
  max-width: 220px !important;
}

/* line 453, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-top-bar__datepicker
  time.dblk-month-year-select
  span {
  font-size: 18px;
}

/* line 461, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-top-bar.tribe-events-header__top-bar
  time.tribe-events-c-top-bar__datepicker-time
  span {
  font-size: 60px;
  line-height: 64px;
}
@media only screen and (max-width: 770px) {
  /* line 461, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events
    .tribe-events-c-top-bar.tribe-events-header__top-bar
    time.tribe-events-c-top-bar__datepicker-time
    span {
    font-size: 25px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 461, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events
    .tribe-events-c-top-bar.tribe-events-header__top-bar
    time.tribe-events-c-top-bar__datepicker-time
    span {
    font-size: 20px;
    line-height: 21px;
  }
}

/* line 479, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-events .datepicker .month.active,
.post-type-archive-tribe_events
  .tribe-events
  .datepicker
  .month.active.focused {
  background-color: #000000;
}

/* line 484, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-events .datepicker .month.current,
.post-type-archive-tribe_events .tribe-events .datepicker .month.current:hover,
.post-type-archive-tribe_events .tribe-events .datepicker .month:hover {
  background-color: #f2edeb;
}

/* line 490, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .datepicker
  .datepicker-months
  .datepicker-switch {
  pointer-events: none;
  cursor: normal;
}

/* line 495, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-common button {
  font-family: "awesome_serif", sans-serif;
}

/* line 501, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-filter-bar-c-dropdown {
  width: 100%;
}
/* line 506, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar-c-dropdown
  .select2-container
  .select2-results__options
  li {
  padding: 5px;
}
/* line 509, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar-c-dropdown
  .select2-container
  .select2-results__options
  li[data-hidden="true"] {
  display: none;
}

/* line 517, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events-calendar-month__day-cell.tribe-events-calendar-month__day-cell--mobile.tribe-events-calendar-month__day-cell--selected,
.post-type-archive-tribe_events
  .tribe-events-calendar-month__mobile-events-icon.tribe-events-calendar-month__mobile-events-icon--event {
  background-color: #9b5b00;
}

/* line 521, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-calendar-month__calendar-event--featured:before {
  background-color: #a86600;
}

/* line 525, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-common .tribe-common-c-svgicon {
  color: #a86600;
}

/* line 531, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .venue-col
  .tribe-filter-bar-c-filter__filters-legend,
.post-type-archive-tribe_events
  .venue-col
  .tribe-filter-bar-c-filter__filters-close {
  display: none;
}

/* line 537, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input,
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single,
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button {
  border: 1px solid #c4dbcb;
  border-radius: 4px;
  padding: 10px;
  font-family: "Jokker", sans-serif;
  font-size: 18px;
  height: auto;
  width: 100%;
}
/* line 548, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input:hover,
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single:hover,
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button:hover {
  border: 1px solid #a0928c;
  border-radius: 0px;
}
/* line 553, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input:focus,
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single:focus,
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button:focus {
  border: 1px solid #000000;
  border-radius: 0px;
}

/* line 561, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input::placeholder {
  font-size: 16px !important;
  opacity: 0.33;
}

/* line 566, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input {
  margin-right: 24px;
  width: calc(100% - 24px);
}
@media only screen and (max-width: 768px) {
  /* line 566, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events
    .tribe-events-c-events-bar
    .tribe-common-form-control-text__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

/* line 578, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single {
  padding: 11px 10px;
}
/* line 581, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 12px;
  position: absolute;
  top: calc(50% - 12px);
  right: 18px;
  width: 12px;
}
/* line 588, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: inline-block;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: 0;
  border-top: 0;
  width: 12px;
  height: 12px;
  transform: rotate(-315deg);
  transform-origin: center center;
}

/* line 604, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow {
  top: calc(50% - 6px);
}
/* line 607, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  transform: rotate(225deg);
}

/* line 614, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button {
  padding: 12px 10px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 614, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events
    button.tribe-events-c-top-bar__datepicker-button {
    padding: 2px 10px 8px 10px;
  }
}
/* line 620, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button:after {
  content: "";
  display: inline-block;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: 0;
  border-top: 0;
  width: 12px;
  height: 12px;
  transform: rotate(-315deg);
  transform-origin: center center;
  position: absolute;
  top: calc(50% - 10px);
  right: 18px;
}
/* line 636, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button
  time {
  opacity: 33%;
}
/* line 640, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button
  svg {
  position: absolute;
  right: 18px;
  height: 11px;
  width: 15px;
  display: none;
}
/* line 649, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button--open:after {
  top: calc(50% - 6px);
  transform: rotate(225deg);
}
/* line 654, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button--open
  time {
  opacity: 1;
}

/* line 660, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container {
  display: block !important;
  visibility: visible !important;
  position: relative;
  bottom: auto;
  transform: none;
  width: 100%;
  box-shadow: none;
  border: 1px solid #a0928c;
  border-radius: 0 0 4px 4px;
  padding: 30px;
}
/* line 672, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  fieldset {
  display: flex;
  flex-flow: row wrap;
}
/* line 677, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend {
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
  font-family: "Jokker", sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: auto;
  float: left;
}
/* line 154, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.white {
  color: #ffffff;
}
/* line 158, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.greige {
  color: #81746e;
}
/* line 162, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.burnt_umber {
  color: #ba5d00;
}
/* line 166, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.tan {
  color: #f2edeb;
}
/* line 170, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.cotton_candy {
  color: #f0ae84;
}
/* line 174, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.mint {
  color: #c4dbcb;
}
/* line 178, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.marigold {
  color: #9b5b00;
}
/* line 182, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.red {
  color: #df2f30;
}
/* line 186, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  legend.teal {
  color: #0b856f;
}
@media only screen and (max-width: 640px) {
  /* line 677, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-common--breakpoint-medium
    .tribe-filter-bar
    .tribe-filter-bar-c-filter--pill
    .tribe-filter-bar-c-filter__container
    legend {
    font-size: 18px;
    line-height: 22px;
  }
}
/* line 683, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  button {
  font-family: "awesome_serif", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: -20px;
}
/* line 693, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  button:hover,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  button:focus {
  text-decoration: none;
}
/* line 699, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__container
  .tribe-filter-bar-c-filter__filter-fields {
  width: 100%;
}

/* line 704, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar--horizontal.tribe-filter-bar
  .tribe-filter-bar__filters-slider-wrapper {
  display: none !important;
}

/* line 708, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar--horizontal.tribe-filter-bar
  .tribe-filter-bar__filters-container {
  position: relative;
  width: 100%;
}

/* line 713, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar--horizontal.tribe-filter-bar
  .tribe-filter-bar-c-filter {
  width: 100%;
}

/* line 717, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--pill
  .tribe-filter-bar-c-filter__filters-close-icon {
  display: none;
}

/* line 721, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-filter-bar-c-filter__filter-fields {
  display: flex;
  flex-flow: row wrap;
}

/* line 726, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-filter-bar .tribe-filter-bar-c-checkbox {
  margin: 10px 20px 10px -30px;
}
/* line 729, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  input {
  visibility: hidden;
}
/* line 733, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  input[checked="checked"]
  + label {
  text-decoration: underline;
}
/* line 737, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label {
  margin-top: 0px;
  margin-bottom: 25px;
  display: block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 21px;
  font-family: "Jokker", sans-serif;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 99px;
  padding-right: 15px;
}
/* line 154, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.white {
  color: #ffffff;
}
/* line 158, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.greige {
  color: #81746e;
}
/* line 162, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.burnt_umber {
  color: #ba5d00;
}
/* line 166, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.tan {
  color: #f2edeb;
}
/* line 170, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.cotton_candy {
  color: #f0ae84;
}
/* line 174, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.mint {
  color: #c4dbcb;
}
/* line 178, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.marigold {
  color: #9b5b00;
}
/* line 182, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.red {
  color: #df2f30;
}
/* line 186, ../scss/_mixins.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  label.teal {
  color: #0b856f;
}
/* line 745, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  span {
  top: 2px;
  position: relative;
}
/* line 750, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox
  img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
/* line 758, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox:hover
  label,
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox:focus
  label {
  opacity: 1;
}
/* line 761, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox:hover
  label
  span,
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox:focus
  label
  span {
  text-decoration: underline;
}
/* line 767, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.art-culture
  label {
  border-color: #f64741;
  background-color: rgba(246, 71, 65, 0.1);
}
/* line 772, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.fitness
  label {
  border-color: #ba5d00;
  background-color: rgba(186, 93, 0, 0.1);
}
/* line 777, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.food-drink
  label {
  border-color: #e07731;
  background-color: rgba(224, 119, 49, 0.1);
}
/* line 782, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.music
  label {
  border-color: #29967f;
  background-color: rgba(41, 150, 127, 0.1);
}
/* line 787, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.shopping-retail
  label {
  border-color: #a86600;
  background-color: rgba(168, 102, 0, 0.1);
}
/* line 792, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.stay
  label {
  border-color: #a0928c;
  background-color: rgba(160, 146, 140, 0.1);
}
/* line 797, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-checkbox.is-not-checked
  label {
  background-color: transparent;
  border-color: transparent;
}

/* line 804, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar {
  border-color: #a0928c;
  border-bottom: none;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 30px 18px;
  flex-flow: row wrap;
}
/* line 812, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .month-col,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .venue-col,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .search-col {
  padding-left: 12px;
  padding-right: 12px;
}
/* line 818, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .month-col
  .h6,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .venue-col
  .h6,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .search-col
  .h6 {
  margin-bottom: 5px;
}
/* line 823, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .month-col,
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .venue-col {
  width: 50%;
  flex: 0 0 50%;
  margin: 10px 0;
}
/* line 830, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-header--has-event-search
  .tribe-events-c-events-bar
  .search-col {
  width: 100%;
  flex: 0 0 100%;
  margin: 10px 0;
}
@media only screen and (min-width: 990px) {
  /* line 838, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-common--breakpoint-medium.tribe-events
    .tribe-events-header--has-event-search
    .tribe-events-c-events-bar
    .month-col,
  .post-type-archive-tribe_events
    .tribe-common--breakpoint-medium.tribe-events
    .tribe-events-header--has-event-search
    .tribe-events-c-events-bar
    .venue-col {
    width: 25%;
    flex: 0 0 25%;
  }
  /* line 844, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-common--breakpoint-medium.tribe-events
    .tribe-events-header--has-event-search
    .tribe-events-c-events-bar
    .search-col {
    width: 100%;
    flex: 0 0 50%;
  }
}

/* line 853, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium
  .tribe-filter-bar--horizontal.tribe-filter-bar {
  margin-top: 0;
}

/* line 857, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-filter-bar-c-filter__toggle-wrapper {
  display: none;
}

@media only screen and (max-width: 770px) {
  /* line 861, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .tribe-events-header__events-bar {
    margin-bottom: 20px;
  }
  /* line 865, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .tribe-events-header__events-bar > div {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 640px) {
  /* line 873, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events-header
    .tribe-filter-bar--horizontal {
    display: none;
  }
}

/* line 878, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-events-header .clear-event-filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -92px;
  margin-bottom: var(--tec-spacer-4);
}
@media only screen and (min-width: 768px) {
  /* line 878, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .tribe-events-header .clear-event-filters {
    margin-top: calc(var(--tec-spacer-8) * -1);
  }
}
/* line 890, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events-header
  .clear-event-filters__button {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: var(--tec-spacer-4);
}
@media only screen and (min-width: 768px) {
  /* line 890, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events-header
    .clear-event-filters__button {
    font-size: 18px;
    padding: 7px 44px 7px 15px;
  }
  /* line 899, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events
    .tribe-events-header
    .clear-event-filters__button:after {
    top: 5px;
  }
}

/* line 909, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-events-header__events-bar
  .tribe-filter-bar-c-filter--checkbox {
  display: none;
}

/* line 915, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-events-c-search .fm_button:hover {
  background-color: #000000;
}

/* line 924, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  span.select2.select2-container.select2-container--default.select2-container--below.tribe-filter-bar-c-dropdown__input.tribe-dropdown-created.select2-container--open
  .select2-selection__arrow
  b {
  transform: rotate(-315deg);
  top: 0px;
}

/* line 931, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  span.select2.select2-container.select2-container--default.select2-container--below.tribe-filter-bar-c-dropdown__input.tribe-dropdown-created.select2-container--open
  .dropdown-wrapper
  ul.select2-results__options {
  display: none;
}

/* line 939, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  span.select2.select2-container.select2-container--default.select2-container--below.tribe-filter-bar-c-dropdown__input.tribe-dropdown-created.custom_open
  .select2-selection__arrow
  b {
  transform: rotate(225deg);
  top: 10px;
}

/* line 946, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  span.select2.select2-container.select2-container--default.select2-container--below.tribe-filter-bar-c-dropdown__input.tribe-dropdown-created.custom_open
  .dropdown-wrapper
  .select2-dropdown--below {
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

/* line 952, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  span.select2.select2-container.select2-container--default.select2-container--below.tribe-filter-bar-c-dropdown__input.tribe-dropdown-created.custom_open
  .dropdown-wrapper
  ul.select2-results__options {
  display: flex;
  flex-direction: column;
}

/* line 960, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .select2-container--default
  .select2-selection--single
  .select2-selection__placeholder,
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-top-bar__datepicker
  time.dblk-month-year-select
  span,
.post-type-archive-tribe_events
  .tribe-events
  button.tribe-events-c-top-bar__datepicker-button
  time,
.post-type-archive-tribe_events
  .tribe-events
  .tribe-events-c-events-bar
  .tribe-common-form-control-text__input::placeholder {
  color: #000000;
  opacity: 0.75;
}

/* line 969, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-filter-bar
  .tribe-filter-bar-c-filter--dropdown {
  display: none;
}

/* line 974, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .tribe-filter-bar-c-checkbox.stay {
  display: none;
}

/* line 978, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events
  .tribe-common--breakpoint-medium.tribe-events
  .tribe-events-l-container {
  padding-bottom: 30px;
}

/* line 983, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .dblk-event-list-date {
  border-top: 4px solid #000000;
  margin-top: 30px;
  padding-top: 15px;
}

/* line 989, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile {
  margin: 30px 0;
}
/* line 992, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile h2 {
  margin-bottom: 10px;
}
/* line 996, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .h5 {
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 1000, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .h5.location {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
}
/* line 1008, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .image {
  padding: 30px 0;
}
@media only screen and (min-width: 640px) {
  /* line 1008, ../../archives/tribe_events/tribe_events-archive.scss */
  .post-type-archive-tribe_events .event_list_tile .image {
    padding: 0 30px 0 0;
  }
}
/* line 1018, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .description .title p {
  margin-bottom: 15px;
}
/* line 1024, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .categories {
  margin-top: 18px;
}
/* line 1027, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .categories .cat {
  margin-bottom: 12px;
}
/* line 1030, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .categories .cat img {
  margin-right: 10px;
}
/* line 1036, ../../archives/tribe_events/tribe_events-archive.scss */
.post-type-archive-tribe_events .event_list_tile .fm_button {
  color: #ffffff;
}

/*# sourceMappingURL=tribe_events-archive.css.map */
