@import "sass-globals";
.default_archive {
    @include padding();
    .post {
        padding-top: 40px;
        padding-bottom: 40px;
        &:first-of-type {
            padding-top: 0px;
        }
        .image {
            .image_holder {
                padding-top: 62%;
                background-size: cover;
                background-position: center center;
                cursor: pointer;
            }
        }
        .info {
            display: flex;
            align-items: center;
            .hold-me {
                padding-left: 30px;
                .button {
                    margin: 0px;
                }
            }
        }
    }
}

.pagination {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
    margin: 0 auto;
    a {}
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        li {
            font-size: 20px;
            margin-right: 0.0625rem;
            border-radius: 0;
            font-weight: bold;
            margin: 0px 2px;
            a {
                line-height: 25px;
                padding: 6px 14px;
                text-decoration: none;
                background-color: $light_gray;
                color: $body-font-color;
                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
            span {
                &.current {
                    background-color: $primary;
                    padding: 6px 14px;
                    color: $white;
                }
            }
        }
    }
}
